<a href="https://colab.research.google.com/github/anshajk/ik-classes/blob/main/notebooks/22-december-2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals - Week 3

In [3]:
def christmas_is_coming():
  s = "Ho Ho Ho! Santa is here!"
  print(s)
  print(type(s))

In [4]:
christmas_is_coming()

Ho Ho Ho! Santa is here!
<class 'str'>

In [6]:
def make_a_fruit_cake():
  global recipe
  recipe = "I'm making a fruit cake!"
  print(recipe)

recipe = "Take some flour and bake it. Don't forget to add Sugar"


print(recipe)
make_a_fruit_cake()
print(recipe)

Take some flour and bake it. Don't forget to add Sugar
I'm making a fruit cake!
I'm making a fruit cake!

In [10]:
def make_the_cake(flour_weight: int, secret_ingredient: str, proportions: dict):
  print('Flour weight', flour_weight)
  print('Secret Ingredient', secret_ingredient)
  print('Proportions', proportions)
  proportions['water'] = 20

In [11]:
flour_weight = 5
secret_ingredient = 'vanilla and raspberry'
proportions = {
    'sugar': 5,
    'butter': 10,
    'eggs': 2
}

make_the_cake(flour_weight, secret_ingredient, proportions)


print(proportions)

Flour weight 5
Secret Ingredient vanilla and raspberry
Proportions {'sugar': 5, 'butter': 10, 'eggs': 2}
{'sugar': 5, 'butter': 10, 'eggs': 2, 'water': 20}

## OOP Concepts - Part I

### How to Define a Class

In [27]:
def add_numbers(a=1, b=2):
  return a + b

In [28]:
add_numbers()

3

In [29]:
def make_oatmeal(**kwargs):
  for key, value in kwargs.items():
    print(key, value)

In [30]:
make_oatmeal(water=1, sugar=0)

water 1
sugar 0

In [31]:
make_oatmeal(milk="5", oats=10)

milk 5
oats 10

In [12]:
# Create a new class
class Student:

    # Define a constructor
    def __init__(self, name):
        self.name = name # Attribute
        print("New student added:", name)
        self.grades = [] # Attribute

    # Define an instance method
    def add_grade(self, course, grade):
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

In [13]:
# create an object from the class
student1 = Student("John")

New student added: John

In [14]:
student1.name

'John'

In [15]:
student1.grades

[]

In [16]:
print(type(student1))

<class '__main__.Student'>

In [17]:
student1.name

'John'

In [18]:
student1.add_grade("Algebra", 87)

Grade 87 added for the course Algebra

In [19]:
student1.grades

[('Algebra', 87)]

In [20]:
student1.add_grade("Physics", 65)
student1.grades

Grade 65 added for the course Physics

[('Algebra', 87), ('Physics', 65)]

In [21]:
# create a second object
student2 = Student("Mary")

New student added: Mary

In [22]:
student2.name

'Mary'

In [23]:
student2.grades

[]

In [24]:
student2.add_grade("Sciences", 59)
student2.add_grade("English", 91)
student2.grades

Grade 59 added for the course Sciences
Grade 91 added for the course English

[('Sciences', 59), ('English', 91)]

In [25]:
student2.name = 'Mary Jane'

In [26]:
student2.name

'Mary Jane'

### Instance vs Class Methods and Attributes

In [39]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1 # Student.num_of_students = Student.num_of_students + 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, grade):
        self.grades.append((course, grade))
        self.studies = True
        print(f"Grade {grade} added for the course {course}")

    @classmethod # Python decorators -> Tenacity library
    def class_count(cls):
        return cls.num_of_students

In [40]:
student1 = Student("John")

New student added: John

In [41]:
student1.name

'John'

In [42]:
student1.grades

[]

In [43]:
student1.studies

AttributeError: 'Student' object has no attribute 'studies'

In [44]:
student1.add_grade("Algebra", 87)

Grade 87 added for the course Algebra

In [45]:
student1.studies

True

In [34]:
Student.class_count()

1

In [35]:
student2 = Student("Mary")

New student added: Mary

In [36]:
Student.class_count()

2

In [37]:
student1.class_count()

2

In [38]:
student2.class_count()

2

### Static Methods

In [46]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [47]:
student = Student("John")

New student added: John

In [48]:
student.add_grade("Algebra", 87)
student.grades

Grade A added for the course Algebra

[('Algebra', 'A')]

In [49]:
student.add_grade("Physics", 65)
student.grades

Grade C added for the course Physics

[('Algebra', 'A'), ('Physics', 'C')]

In [50]:
print(student1)

<__main__.Student object at 0x7e56066d0070>

In [51]:
print(student2)

<__main__.Student object at 0x7e56067a19f0>

### Magic Methods

In [52]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

    def __repr__(self):
        return f"Grades of student {self.name}: {self.grades}"

In [53]:
student1 = Student("John")

New student added: John

In [54]:
student1.add_grade("Algebra", 87)
student1.grades

Grade A added for the course Algebra

[('Algebra', 'A')]

In [55]:
student1.add_grade("Physics", 65)
student1.grades

Grade C added for the course Physics

[('Algebra', 'A'), ('Physics', 'C')]

In [56]:
print(student1)

Grades of student John: [('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
print(repr(student1))

Grades of student John: [('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
student2 = Student("Mary")

New student added: Mary

In [ ]:
print(student1 + student2)

Student John & Student Mary

#### Question: What if we remove 'self' from an instance method by mistake?

If you define a method in a Python class without including self or cls as the first parameter, and without using the @staticmethod decorator, it is technically treated as an unbound instance method and Python treats it as a regular function within the class's namespace. It is still considered an instance method, but because it lacks self, it doesn't behave like a proper instance method. When you call this method on a class (ClassName.method()), it behaves like a regular function. When you call this method on an instance (instance.method()), Python tries to pass the instance as the first argument, which leads to a TypeError if the method is not designed to accept it.

In [ ]:
class Student:
    def hello():
        print("Hi")

In [ ]:
Student.hello()

Hi

In [ ]:
student = Student()

In [ ]:
student_instance.hello()

NameError: name 'student_instance' is not defined

### Class Activity (Leetcode Problem)

In [57]:
class MyHashMap:

#     count = 0

    # constructor
    def __init__(self):
        self.data = []
        print(type(self.data))

    # put
    def put(self, key, value):

        for item in self.data:
            if item[0] == key:
                item[1] = value
                return
        pair = [key, value]
        self.data.append(pair)
#         MyHashMap.count += 1

    # get
    def get(self, key):

        for item in self.data:
            if item[0] == key:
                return item[1]
        return -1

    # remove
    def remove(self, key):

        for item in self.data:
            if item[0] == key:
                self.data.remove(item)
                return
        return None

In [58]:
myHashMap = MyHashMap()

print(myHashMap.data)

[]

In [59]:
myHashMap.put(1, 100)
print(myHashMap.data)

[[1, 100]]

In [60]:
myHashMap.put(2, 200)
print(myHashMap.data)

[[1, 100], [2, 200]]

In [61]:
myHashMap.put(1, 300)
print(myHashMap.data)

[[1, 300], [2, 200]]

In [62]:
print(myHashMap.get(1))
print(myHashMap.get(2))
print(myHashMap.get(3))

300
200
-1

In [63]:
myHashMap.data

[[1, 300], [2, 200]]

In [64]:
myHashMap.remove(2)

In [65]:
myHashMap.data

[[1, 300]]

In [ ]:
myHashMap.put(2, 1)
print(myHashMap.data)

[[1, 1], [2, 1]]

In [ ]:
print(myHashMap.get(2))

1

In [ ]:
myHashMap.remove(2)
print(myHashMap.data)

[[1, 1]]

In [ ]:
print(myHashMap.get(2))

-1

## OOP Concepts - Part II

### Inheritance

In [66]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [67]:
class NewGrad(Student):

    def __init__(self, name, school):
        super().__init__(name)
        self.school = school

    def isPassed(self):
        for grade in self.grades:
            if grade[1] >= 'C':
                print(f"{self.name} from {self.school} has failed the course {grade[0]} with grade {grade[1]}.")
                return False
        print(f"{self.name} from {self.school} has passed all tests.")
        return True

In [68]:
new_graduate1 = NewGrad("John", "UCLA")

new_graduate1.add_grade("Linear Algebra", 78)
new_graduate1.add_grade("Optimal Control", 65)

new_graduate1.isPassed()

New student added: John
Grade B added for the course Linear Algebra
Grade C added for the course Optimal Control
John from UCLA has failed the course Optimal Control with grade C.

False

In [69]:
new_graduate2 = NewGrad("Mary", "Harvard")

new_graduate2.add_grade("Statistics", 92)
new_graduate2.add_grade("Computer Vision", 83)

new_graduate2.isPassed()

New student added: Mary
Grade A added for the course Statistics
Grade B added for the course Computer Vision
Mary from Harvard has passed all tests.

True

#### Question: How does multiple inheritance work?

In [ ]:
class A:
    def method_a(self):
        print("Method A from class A")

    def shared_method(self):
        print("Shared method A")

class B:
    def method_b(self):
        print("Method B from class B")

    def shared_method(self):
        print("Shared method B")

class C(A, B):
    def method_c(self):
        print("Method C from class C")

# Creating an object of class C
obj = C()

# Calling methods inherited from class A
obj.method_a()

# Calling methods inherited from class B
obj.method_b()

# Calling method defined in class C
obj.method_c()

# Calling the shared method
obj.shared_method()

Method A from class A
Method B from class B
Method C from class C
Shared method A

### Encapsulation

In [ ]:
class Student:

    _num_of_students = 0 # Protected class attribute

    # Define a constructor
    def __init__(self, name):
        self._name = name # Protected instance attribute
        print("New student added:", name)
        Student._num_of_students += 1
        self.__grades = [] # Private instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.__grade_mapper(num_grade)
        self.__grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def _class_count(cls):
        return cls._num_of_students

    @staticmethod
    def __grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [ ]:
student1 = Student("John")

New student added: John

In [ ]:
student1._name

'John'

In [ ]:
student1._num_of_students

1

In [ ]:
student1._class_count()

1

In [ ]:
student1.__grades

AttributeError: 'Student' object has no attribute '__grades'

In [ ]:
student1.__grade_mapper(92)

AttributeError: 'Student' object has no attribute '__grade_mapper'

### Polymorphism

In [70]:
class Student:

    num_of_students = 0 # Protected class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Protected instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Private instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

    def isPassed(self):
        return None

In [ ]:
class NewStudent(Student):

    def isPassed(self):
        for grade in self.grades:
            if grade[1] >= 'C':
                print(f"{self.name} from {self.school} has failed the course {grade[0]} with grade {grade[1]}.")
                return False
        print(f"{self.name} from {self.school} has passed all tests.")
        return True

In [ ]:
new_student = NewStudent("John")

new_graduate1.add_grade("Linear Algebra", 78)
new_graduate1.add_grade("Optimal Control", 65)

new_graduate1.isPassed()

New student added: John
Grade B added for the course Linear Algebra
Grade C added for the course Optimal Control
John from UCLA has failed the course Optimal Control with grade C.

False

#### Question: Method overloading in Python

In Python, method overloading as it is known in languages like Java or C++ (where multiple methods can have the same name but different parameter lists) doesn't exist in the same way. Python does not support method overloading natively. Instead, Python allows you to define a method with the same name only once in a class. If you define the same method multiple times, the last definition will override the previous ones.

#### Using Default Arguments

In [ ]:
class Example:
    def greet(self, name="World"):
        print(f"Hello, {name}!")

obj = Example()
obj.greet()           # Output: Hello, World!
obj.greet("Alice")    # Output: Hello, Alice!

Hello, World!
Hello, Alice!

#### Using Variable-Length Arguments ('*args')

In [ ]:
class Example:
    def add(self, *args):
        return sum(args)

obj = Example()
print(obj.add(2, 3))          # Output: 5
print(obj.add(2, 3, 4, 5))    # Output: 14

5
14

In [72]:
def add(a,b):
  return a + b

In [73]:
add(2,3)

5

In [74]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [78]:
def add(*args):
  sum = 0
  for value in args:
    sum = sum + value
  return sum

In [79]:
add(1,2)

3

In [80]:
add(1,2,3,4)

10

In [81]:
def employee_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

In [82]:
employee_details(name="John", age=25, department="IT",likes_coffee="yes")

name: John
age: 25
department: IT
likes_coffee: yes

#### Using Type Checking in Methods

See the following for more information: https://www.geeksforgeeks.org/method-overriding-in-python/

### Class Activity

In [ ]:
# Base Class
class Animal:
    def __init__(self, name, species, age):
        # Initialize the name, species, and age as private attributes
        self.__name = name
        self.__species = species
        self.__age = age

    def get_info(self):
        # Return a string with the animal's name, species, and age
        return f"Animal name is {self.__name}, species is {self.__species}, age is {self.__age}"

    def make_sound(self):
        return "Some generic animal sound"

# Derived Class: Mammal
class Mammal(Animal):
    def __init__(self, name, species, age, fur_color):
        # Initialize the mammal with its specific private attributes
        super().__init__(name, species, age)
        self.__fur_color = fur_color

    def make_sound(self):
        return "Generic Mammal Sound"

# Derived Class: Bird
class Bird(Animal):
    def __init__(self, name, species, age, wing_span):
        # Initialize the bird with its private specific attributes
        super().__init__(name, species, age)
        self.__wing_span = wing_span

    def make_sound(self):
        return "Tweet Tweet"

# Specific Animal: Lion
class Lion(Mammal):
    def __init__(self, name, age, fur_color):
        # Initialize the lion with its private specific attributes
        super().__init__(name, "Lion", age, fur_color)

    def make_sound(self):
        return "Roar"

# Specific Animal: Parrot
class Parrot(Bird):
    def __init__(self, name, age, wing_span):
        # Initialize the parrot with its specific attributes
        super().__init__(name, "Parrot", age, wing_span)

    def make_sound(self):
        return "Squawk"

In [ ]:
lion = Lion(name="Leo", age=5, fur_color="Golden")
parrot = Parrot(name="Polly", age=2, wing_span=0.25)

print(lion.get_info())
print(parrot.get_info())

animals = [lion, parrot]

for animal in animals:
    print(animal.make_sound())

Animal name is Leo, species is Lion, age is 5
Animal name is Polly, species is Parrot, age is 2
Roar
Squawk

## Custom Sort Functions

### sorted()

In [84]:
numbers = [4, 2, 9, 1, 5]

sorted_list = sorted(numbers)

print("Original list:", numbers)
print("Sorted list:", sorted_list)

Original list: [4, 2, 9, 1, 5]
Sorted list: [1, 2, 4, 5, 9]

In [ ]:
sorted_numbers = sorted(numbers)

print("Original list:", numbers)
print("Sorted list", sorted_numbers)

Original list: [4, 2, 9, 1, 5]
Sorted list [1, 2, 4, 5, 9]

### sort()

In [85]:
numbers = [4, 2, 9, 1, 5]

print("List before sort:", numbers)

numbers.sort()

print("List after sort:", numbers)

List before sort: [4, 2, 9, 1, 5]
List after sort: [1, 2, 4, 5, 9]

In [ ]:
print(numbers.sort())

None

### key / reverse

In [87]:
words = ["apple", "banana", "cherry", "date", "fig", "bananas"]

In [88]:
# sort based on length
sorted_words = sorted(words, key=lambda x: len(x))
# sorted_words = sorted(words, key=len)
print(sorted_words)

['fig', 'date', 'apple', 'banana', 'cherry', 'bananas']

In [ ]:
# sort based on length in reverse order
sorted_words = sorted(words, key=len, reverse=True)
print(sorted_words)

['bananas', 'banana', 'cherry', 'apple', 'date', 'fig']

In [ ]:
# sort based on the second letter
sorted_words2 = sorted(words, key=lambda x: (x[1], x[0]))
print(sorted_words2)

['banana', 'bananas', 'date', 'cherry', 'fig', 'apple']

#### Exercise

What are the outputs to the following sorts:

In [ ]:
points = [['a', 1, 2], ['c', 0, 4], ['b', 6, 3], ['d', 1, 3]]

sorted_points1 = sorted(points)
sorted_points2 = sorted(points, key=lambda x: (x[1]))
sorted_points3 = sorted(points, key=lambda x: (x[2], x[1]), reverse=True)

print(''.join([x[0] for x in sorted_points1]), end=' ')
print(''.join([x[0] for x in sorted_points2]), end=' ')
print(''.join([x[0] for x in sorted_points3]))

# abcd cadb cbda (Correct ans)
# abcd badc cdab
# abcd cadb adbc
# acbd cadb cbda

abcd cadb cbda

#### Exercise

Consider the following class:

In [ ]:
class Employee:

    def __init__(self, name, dept, age):
        self.name = name
        self.dept = dept
        self.age = age

    def __repr__(self):
        return f"({self.name}, {self.age})"

Create the following list of employees and sort the list based on employees names:
- Name: John, Department: IT, Age: 28
- Name: Sam, Department: Banking, Age: 20
- Name: John, Department: Finance, Age: 25

In case of a tie, order based on age.

In [ ]:
# Write your code here

# create objects
employee1 = Employee("John", "IT", 28)
employee2 = Employee("Sam", "Banking", 20)
employee3 = Employee("John", "Finance", 25)

# create list of employees
employees = [employee1, employee2, employee3]

# sorted the list
sorted_list = sorted(employees, key=lambda x: (x.name, x.age))

print(sorted_list)

[(John, 25), (John, 28), (Sam, 20)]

## Exception Handling

### Common Errors

In [ ]:
# SyntaxError - Missing closing parenthesis
print("Hello World"

SyntaxError: incomplete input (501430583.py, line 2)

In [ ]:
# TypeError - Trying to add a string and an integer
result = "5" + 3

TypeError: can only concatenate str (not "int") to str

In [ ]:
# ValueError - Converting a non-numeric string to an integer
number_str = "abc"
result = int(number_str)

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
# FileNotFoundError - Trying to open a non-existent file
file_path = "non_existent_file.txt"
with open(file_path, "r") as file:
    content = file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'non_existent_file.txt'

### try / except

In [89]:
def division_function(a, b):
  print(a/b)

In [90]:
division_function(10,2)

5.0

In [91]:
division_function(10,0)

ZeroDivisionError: division by zero

In [97]:
def better_division_function():
  a = input('Enter value a: ')
  b = input('Enter value b: ')

  try:
    print("Division result is", int(a)/int(b))
  except:
    print("Something strange happened but I did not crash")
  finally:
    print("Closing the calculator safely")

In [98]:
better_division_function()

Enter value a: 10
Enter value b: 0
Something strange happened but I did not crash
Closing the calculator safely

In [106]:
def even_better_division_function():
  a = input('Enter value a: ')
  b = input('Enter value b: ')

  try:
    print("Division result is", int(a)/int(b))
  except ZeroDivisionError:
    while int(b) == 0:
      b = int(input("Enter a non zero b value please: "))
    print("Now, the Division result is", int(a)/int(b))
  except ValueError, ZeroDivisionError:
    a = int(input("Please enter valid a value which is a number: "))
    b = int(input("Please enter valid b value which is a number: "))
  except Exception as e:
    print(f"Something strange happened: {e}")
    raise e
    # handle it more

  finally:
    print("Closing the calculator safely")

In [100]:
even_better_division_function()

Enter value a: 10
Enter value b: 2
Division result is 5.0
Closing the calculator safely

In [101]:
even_better_division_function()

Enter value a: 10
Enter value b: 0
Enter a non zero b value please: 0
Enter a non zero b value please: 0
Enter a non zero b value please: 5
Now, the Division result is 2.0
Closing the calculator safely

In [103]:
even_better_division_function()

Enter value a: 10
Enter value b: bh
Something strange happened: invalid literal for int() with base 10: 'bh'
Closing the calculator safely

In [105]:
even_better_division_function()

Enter value a: 10
Enter value b: bh
Something strange happened: invalid literal for int() with base 10: 'bh'
Closing the calculator safely

ValueError: invalid literal for int() with base 10: 'bh'

In [107]:
even_better_division_function()

Enter value a: 10
Enter value b: bh
Please enter valid a value which is a number: 10
Please enter valid b value which is a number: 20
Closing the calculator safely

In [ ]:
a = 5
b = 0

# print(a / b)

try:
    print(a / b)

except:
    print("Cannot divide by zero!")

print("Completed!")

Cannot divide by zero!
Completed!

In [ ]:
x = 2

try:
#     y += 3

#     x += "abc"

    x += 2
    print(x)

except Exception as e:

    print("Oops! something went wrong")
    print(type(e))
    print(e)

print("\nThis line is printed anyways")

4

This line is printed anyways

### Raise an error

In [ ]:
# Using raise
def divide(a, b):
    if b == 0:
        raise Exception("Cannot divide by zero")
    return a / b

In [ ]:
divide(10, 2)

5.0

In [ ]:
divide(10, 0)

Exception: Cannot divide by zero

### Multiple Excepts and One Else

In [ ]:
# Catching Specific Exceptions in Python
try:
    # Case 1
#     even_numbers = [2, 4, 6, 8]
#     print(even_numbers[5])

    # Case 2
    x = 5 / 0

except IndexError:
    print("Index Out of Bound.")

except ZeroDivisionError:
    print("Denominator cannot be 0.")

Denominator cannot be 0.

An else block can be used after all the except blocks. The code within the else block will be executed only if no exceptions were raised in the try block. You can only have one else block.

In [ ]:
try:
    # Code that may raise an exception
#     result = 10 / 0
#     result = int('a')
#     result = 2 + 'b'
    result = 10 / 5

except ZeroDivisionError:
    print("You can't divide by zero!")

except ValueError:
    print("A ValueError occurred!")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

else:
    print("No exceptions occurred, the result is:", result)

No exceptions occurred, the result is: 2.0

### try / except / else / finally

In [ ]:
# Use else after except

try:
    num = int(input("Enter an even number: "))
    assert num % 2 == 0

except:
    print("\nNot an even number!")

else:
    reciprocal = 1/num
    print()
    print(reciprocal)

finally:
    print("\nRun Completed!")

Enter an even number: 5

Not an even number!

Run Completed!

### Custom Exception

In [ ]:
# Create Custom Exception
class CustomError(Exception):

    def __init__(self, message):
        self.message = message

In [ ]:
try:
    raise CustomError("This is a custom error!")

except Exception as e:
    print(type(e))
    print(e.message)

<class '__main__.CustomError'>
This is a custom error!

## File Handling

### Read file - 1

In [108]:
! echo "Hello Everyone from \n Python fundamentals class" >> test1.txt

In [109]:
file = open("test1.txt", "r")

In [110]:
content = file.read()

In [111]:
print(type(content))
print()
print(content)

<class 'str'>

Hello Everyone from \n Python fundamentals class

In [112]:
file.close()

In [113]:
content = file.read()

ValueError: I/O operation on closed file.

### Read file - 2

In [114]:
with open("test1.txt", "r") as file:
    content = file.read()
    print(content)

Hello Everyone from \n Python fundamentals class

### readline()

In [115]:
with open("test1.txt", "r") as file:

    cur_line = file.readline()
    print(cur_line)

    cur_line = file.readline()
    print(cur_line)

Hello Everyone from \n Python fundamentals class

In [ ]:
with open('test1.txt', 'r') as file:
    while True:
        cur_line = file.readline()
        if cur_line:
            # Some operations here
            print(cur_line)
        else:
            break

hey, how are you?

I am good, what about you?

I am also good.

### readlines()

In [ ]:
with open('test1.txt', 'r') as file:
    lines = file.readlines()
    print(lines)

['hey, how are you?\n', 'I am good, what about you?\n', 'I am also good.']

In [ ]:
for line in lines:
    print(line)

hey, how are you?

I am good, what about you?

I am also good.

### Explore the file

In [ ]:
with open('test1.txt', 'r') as file:

    file.seek(5)
    print(file.read())

    print()

    position = file.tell()
    print(position)

how are you?
I am good, what about you?
I am also good.

60

### Write

In [ ]:
# How to write a file
file = open("test2.txt", "w")
file.write("Hello John!\nHow are you?")
file.close()

In [116]:
# Create a new file OR erase and overwrite
with open('test2.txt', 'w') as file:

    # write contents to the test2.txt file
    file.write('Programming is Fun.\n')
    file.write('Python for beginners\n')

In [ ]:
with open('test2.txt', 'x') as file:
    file.write("This is the end of the document")

FileExistsError: [Errno 17] File exists: 'test2.txt'

In [ ]:
with open('test2.txt', 'a') as file:
    file.write("This is the end of the document")

### writelines()

In [ ]:
with open("test3.txt", "w") as file:
    L = ["This is Python\n", "It's an amazing programming language"]
    file.writelines(L)

### Class Activity

1. Create a new text file named 'my_file.txt' and add the lines:
["I love Python.", "Python is my favorite."] (in two separate lines)

In [ ]:
lines = ["I love Python.", "Python is my favorite."]

In [ ]:
# Write your code here
with open("my_file.txt", "w") as file:
    for line in lines:
        file.write(line + "\n")

In [ ]:
# Test the text so far
with open('my_file.txt', 'r') as file:
    print(file.read())

I love Python.
Python is my favorite.

2. The append a new line: "Yes! Python is great!"

In [ ]:
# Write your code here
with open("my_file.txt", "a") as file:
    file.write("Yes! Python is great!")

In [ ]:
# Test the text so far
with open('my_file.txt', 'r') as file:
    print(file.read())

I love Python.
Python is my favorite.
Yes! Python is great!

3. Iterate through lines and at each iteration find the location of "Python"
(Hint: use str.index(...))

In [ ]:
# Write your code here
with open("my_file.txt", "r") as file:
    lines = file.readlines()

idx = []
for line in lines:
    idx_loc = line.index("Python")
    idx.append(idx_loc)

print(idx)

[7, 0, 5]

#### Question: What if a file to read is huge??

Please check out the concept of generators and yield in Python.

## JSON Module

In [117]:
import json

### Serialize to JSON string

In [118]:
# Define a Python dictionary
person = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "hasChildren": False,
    "titles": ["engineer", "programmer"]
}

In [119]:
type(person)

dict

In [120]:
person['name']

'John'

In [121]:
person['titles']

['engineer', 'programmer']

In [122]:
person_json = json.dumps(person)

In [123]:
person_json

'{"name": "John", "age": 30, "city": "New York", "hasChildren": false, "titles": ["engineer", "programmer"]}'

In [124]:
type(person_json)

str

In [ ]:
print(type(person_json))
print(person_json)

<class 'str'>
{"name": "John", "age": 30, "city": "New York", "hasChildren": false, "titles": ["engineer", "programmer"]}

In [125]:
person_json = json.dumps(person, indent=4, separators=("; ", "= "), sort_keys=True)

print(person_json)

{
    "age"= 30;
    "city"= "New York";
    "hasChildren"= false;
    "name"= "John";
    "titles"= [
        "engineer";
        "programmer"
    ]
}

### Serialize to a JSON file

In [ ]:
# Define a Python dictionary
person = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "hasChildren": False,
    "titles": ["engineer", "programmer"]
}

In [126]:
with open("person1.json", "w") as file:
    json.dump(person, file)

### Deserialize JSON File

In [127]:
with open("person1.json", "r") as file:
    loaded_person = json.load(file)

In [128]:
loaded_person

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'hasChildren': False,
 'titles': ['engineer', 'programmer']}

In [129]:
print(type(loaded_person))

<class 'dict'>

In [ ]:
print(loaded_person)

{'name': 'John', 'age': 30, 'city': 'New York', 'hasChildren': False, 'titles': ['engineer', 'programmer']}

In [ ]:
loaded_person['age']

30

### Deserialized JSON

In [130]:
person_json = """
    {
        "age": 30,
        "city": "New York",
        "hasChildren": false,
        "name": "John",
        "titles": [
            "engineer",
            "programmer"
        ]
    }
"""

In [133]:
person_json[10:40]

'     "age": 30,\n        "city"'

In [134]:
person = json.loads(person_json)

In [135]:
person

{'age': 30,
 'city': 'New York',
 'hasChildren': False,
 'name': 'John',
 'titles': ['engineer', 'programmer']}

In [136]:
print(type(person))

<class 'dict'>

In [137]:
person['age']

30

In [138]:
person['titles']

['engineer', 'programmer']

In [ ]:
print(person)

{'age': 30, 'city': 'New York', 'hasChildren': False, 'name': 'John', 'titles': ['engineer', 'programmer']}

In [ ]:
person['hasChildren']

False

In [144]:
def function_example(a, b, c,d ):
  print("A", id(a))
  print("b", id(b))
  print("c", id(c))
  print("d", id(d))

  a += 1
  d['b'] = 5

  print('The id of a at this point:', id(a))
  print('The id of d at this point:', id(d))
  pass

In [145]:
a = 1
b = 'abc'
c = [1,3,4]
d = {'a': 1}


print("A", id(a))
print("b", id(b))
print("c", id(c))
print("d", id(d))

print('----------')

function_example(a,b,c,d)

A 138909261005040
b 138909259829488
c 138907934675840
d 138907936225792
----------
A 138909261005040
b 138909259829488
c 138907934675840
d 138907936225792
The id of a at this point: 138909261005072
The id of d at this point: 138907936225792

In [151]:
password = input('Enter your password: ')
try:
  if len(password) < 8:
    raise Exception('Password must be at least 8 characters long')
  if password.isalpha():
    raise Exception('Password must contain at least one number')
  if password.isdigit():
    raise Exception('Password must contain at least one letter')
  print('Password is valid')
except Exception as e:
  print(e)

Enter your password: 12345678
Password must contain at least one letter

In [153]:
try:
  print(1)

SyntaxError: incomplete input (<ipython-input-153-439ba9121ba2>, line 2)