<a href="https://colab.research.google.com/github/anshajk/ik-classes/blob/main/Python_Week_3_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals - Week 3

Instructor - Anshaj Khare

* [LinkedIn](https://www.linkedin.com/in/anshaj-khare/)
* [Github](https://github.com/anshajk)

## OOP Concepts - Part I

### How to Define a Class

In [ ]:
# Create a new class
class Student:

    # Define a constructor
    def __init__(self, name):
        self.name = name
        print("New student added:", name)
        self.grades = [] # Attribute

    # Define an instance method
    def add_grade(self, course, grade):
        self.grades.append((course, grade))
        self.is_genius = True
        print(f"Grade {grade} added for the course {course}")

In [ ]:
# create an object from the class
student1 = Student("John")

New student added: John

In [ ]:
student1.grades

[]

In [ ]:
print(type(student1))

<class '__main__.Student'>

In [ ]:
student1.name

'John'

In [ ]:
student1.add_grade("Algebra", 87)

Grade 87 added for the course Algebra

In [ ]:
student1.grades

[('Algebra', 87)]

In [ ]:
student1.add_grade("Physics", 65)
student1.grades

Grade 65 added for the course Physics

[('Algebra', 87), ('Physics', 65)]

In [ ]:
# create a second object
student2 = Student("Mary")

New student added: Mary

In [ ]:
student2.name

'Mary'

In [ ]:
student2.grades

[]

In [ ]:
student2.add_grade("Sciences", 59)
student2.add_grade("English", 91)
student2.grades

Grade 59 added for the course Sciences
Grade 91 added for the course English

[('Sciences', 59), ('English', 91)]

In [ ]:
student2.name = 'Mary Jane'

In [ ]:
student2.name

'Mary Jane'

### Instance vs Class Methods and Attributes

In [ ]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, grade):
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

In [ ]:
student1 = Student("John")

New student added: John

In [ ]:
Student.class_count()

1

In [ ]:
Student.add_grade('Physics',86)

TypeError: Student.add_grade() missing 1 required positional argument: 'grade'

In [ ]:
student2 = Student("Mary")

New student added: Mary

In [ ]:
Student.class_count()

2

In [ ]:
student1.class_count()

2

In [ ]:
student2.class_count()

2

### Static Methods

In [ ]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [ ]:
student = Student("John")

New student added: John

In [ ]:
student.add_grade("Algebra", 87)
student.grades

Grade A added for the course Algebra

[('Algebra', 'A')]

In [ ]:
student.add_grade("Physics", 65)
student.grades

Grade C added for the course Physics

[('Algebra', 'A'), ('Physics', 'C')]

### Magic Methods

In [ ]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

    def __repr__(self):
        return f"Grades of student {self.name}: {self.grades}"

    def __add__(self, other):
        return f"Student {self.name} & Student {other.name}"

In [ ]:
student1 = Student("John")

In [ ]:
print(student1)

Grades of student John: []

In [ ]:
student1.add_grade("Algebra", 87)
student1.grades

Grade A added for the course Algebra

[('Algebra', 'A')]

In [ ]:
student1.add_grade("Physics", 65)
student1.grades

Grade C added for the course Physics

[('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
print(student1)

Grades of student John: [('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
print(repr(student1))

Grades of student John: [('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
student2 = Student("Mary")

New student added: Mary

In [ ]:
print(student1 + student2)

Student John & Student Mary

#### Question: What if we remove 'self' from an instance method by mistake?

If you define a method in a Python class without including self or cls as the first parameter, and without using the @staticmethod decorator, it is technically treated as an unbound instance method and Python treats it as a regular function within the class's namespace. It is still considered an instance method, but because it lacks self, it doesn't behave like a proper instance method. When you call this method on a class (ClassName.method()), it behaves like a regular function. When you call this method on an instance (instance.method()), Python tries to pass the instance as the first argument, which leads to a TypeError if the method is not designed to accept it.

In [ ]:
class Student:
    def hello():
        print("Hi")

In [ ]:
Student.hello()

Hi

In [ ]:
student = Student()

In [ ]:
student_instance.hello()

NameError: name 'student_instance' is not defined

In [ ]:
class Pizza:
  def __init__(self, pizza_size):
    self.size = pizza_size

  def make_cheese_burst(self):
    print(f"I've added a lot of cheese to your {self.size} pizza")

In [ ]:
pizza1 = Pizza("medium")
pizza1.size

'medium'

In [ ]:
pizza1.make_cheese_burst()

I've added a lot of cheese to your medium pizza

In [ ]:
pizza2 = Pizza("large")

pizza2.make_cheese_burst()

I've added a lot of cheese to your large pizza

### Class Activity (Leetcode Problem)

In [ ]:
class MyHashMap:

#     count = 0

    # constructor
    def __init__(self):
        self.data = []

    # put
    def put(self, key, value):

        for item in self.data:
            if item[0] == key:
                item[1] = value
                return
        pair = [key, value]
        self.data.append(pair)
#         MyHashMap.count += 1

    # get
    def get(self, key):

        for item in self.data:
            if item[0] == key:
                return item[1]
        return -1

    # remove
    def remove(self, key):

        for item in self.data:
            if item[0] == key:
                self.data.remove(item)
                return
        return None

In [ ]:
list1 = [[1,1],[2,2],[3,3]]

list1.remove([3,3])
list1

[[1, 1], [2, 2]]

In [ ]:
for item in list1:
    if item[0] == 3:
      list1.remove(item)

[1, 1]
[2, 2]
[3, 3]

In [ ]:
list1.remove([3,3])

In [ ]:
list1

[[1, 1], [2, 2]]

In [ ]:
myHashMap = MyHashMap()

print(myHashMap.data)

[]

In [ ]:
myHashMap.put(1, 1)
print(myHashMap.data)

[[1, 1]]

In [ ]:
myHashMap.put(2, 2)
print(myHashMap.data)

[[1, 1], [2, 2]]

In [ ]:
print(myHashMap.get(1))
print(myHashMap.get(2))
print(myHashMap.get(3))

1
2
-1

In [ ]:
myHashMap.put(2, 100)
print(myHashMap.data)

[[1, 1], [2, 100]]

In [ ]:
print(myHashMap.get(2))

100

In [ ]:
myHashMap.remove(2)
print(myHashMap.data)

[[1, 1]]

In [ ]:
print(myHashMap.get(2))

-1

## OOP Concepts - Part II

### Inheritance

In [ ]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [ ]:
class NewGrad(Student):

    def __init__(self, last_name, school):
        super().__init__(last_name)
        self.school = school


    def isPassed(self):
        for grade in self.grades:
            if grade[1] >= 'C':
                print(f"{self.name} from {self.school} has failed the course {grade[0]} with grade {grade[1]}.")
                return False
        print(f"{self.name} from {self.school} has passed all tests.")
        return True

In [ ]:
new_graduate1 = NewGrad("John", "UCLA")

new_graduate1.add_grade("Linear Algebra", 78)
new_graduate1.add_grade("Optimal Control", 65)

new_graduate1.isPassed()

New student added: John
Grade B added for the course Linear Algebra
Grade C added for the course Optimal Control
John from UCLA has failed the course Optimal Control with grade C.

False

In [ ]:
new_graduate1

In [ ]:
new_graduate2 = NewGrad("Mary", "Harvard")

new_graduate2.add_grade("Statistics", 92)
new_graduate2.add_grade("Computer Vision", 83)

new_graduate2.isPassed()

New student added: Mary
Grade A added for the course Statistics
Grade B added for the course Computer Vision
Mary from Harvard has passed all tests.

True

#### Question: How does multiple inheritance work?

## How do you talk to other programmers in python

1. If you add a _ in front of a variable, it is assumed to be protected variable. This means that it shouldn't be called directly
2. If something isn't supposed to be accessed directly, we use getter and setter methods for it.

### Encapsulation

In [ ]:
class Computer:
    def __init__(self, os, ram, cpu):
        self._os = os
        self._ram = ram
        self._cpu = cpu

    def get_os(self):
        return self._os

    def get_ram(self):
        return self._ram

    def get_cpu(self):
        return self._cpu

In [ ]:
mac1 = Computer("MacOS", 8, "M1")

In [ ]:
mac1.get_os()

'MacOS'

In [ ]:
mac1._os

'MacOS'

In [ ]:
print(mac1.get_os())
mac1._os

MacOS

'MacOS'

In [ ]:
class Student:

    _num_of_students = 0 # Protected class attribute

    # Define a constructor
    def __init__(self, name):
        self._name = name # Protected instance attribute
        print("New student added:", name)
        Student._num_of_students += 1


    # Instance method
    def add_grade(self, course, num_grade):

        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def _class_count(cls):
        return cls._num_of_students

    @staticmethod
    def __grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [ ]:
student1 = Student("John")

New student added: John

In [ ]:
student1._name

'John'

In [ ]:
student1._num_of_students

1

In [ ]:
student1._class_count()

1

In [ ]:
student1.__grades

AttributeError: 'Student' object has no attribute '__grades'

In [ ]:
student1.__grade_mapper(92)

AttributeError: 'Student' object has no attribute '__grade_mapper'

### Polymorphism

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("Hello World!", "Welcome to Python!")

Hello World! Welcome to Python!

In [1]:
print(1, "hello world", 1.56)

1 hello world 1.56

In [ ]:
print("Hello World!", "Welcome to Python!", "I'm learning python")

Hello World! Welcome to Python! I'm learning python

In [3]:
class Student:

    num_of_students = 0 # Protected class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Protected instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Private instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

    def isPassed(self):
        pass

In [ ]:
class NewStudent(Student):

    def isPassed(self):
        for grade in self.grades:
            if grade[1] >= 'C':
                print(f"{self.name} from {self.school} has failed the course {grade[0]} with grade {grade[1]}.")
                return False
        print(f"{self.name} from {self.school} has passed all tests.")
        return True

In [ ]:
new_student = NewStudent("John")

new_graduate1.add_grade("Linear Algebra", 78)
new_graduate1.add_grade("Optimal Control", 65)

new_graduate1.isPassed()

New student added: John
Grade B added for the course Linear Algebra
Grade C added for the course Optimal Control
John from UCLA has failed the course Optimal Control with grade C.

False

#### Question: Method overloading in Python

In Python, method overloading as it is known in languages like Java or C++ (where multiple methods can have the same name but different parameter lists) doesn't exist in the same way. Python does not support method overloading natively. Instead, Python allows you to define a method with the same name only once in a class. If you define the same method multiple times, the last definition will override the previous ones.

#### Using Default Arguments

In [ ]:
class Example:
    def greet(self, name="World"):
        print(f"Hello, {name}!")

obj = Example()
obj.greet()           # Output: Hello, World!
obj.greet("Alice")    # Output: Hello, Alice!

Hello, World!
Hello, Alice!

#### Using Variable-Length Arguments ('*args')

In [ ]:
def add(*args):
    for i in args:
      print(i)


add(2, 3)
print('-----')         # Output: 5
add(2, 3, 4, 5)    # Output: 14

2
3
-----
2
3
4
5

In [ ]:
def interesting_print(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

interesting_print(name="Alice", age=25,profession='Accountant')

name: Alice
age: 25
profession: Accountant

#### Using Type Checking in Methods

In [ ]:
class Example:
    def operate(self, a, b=None):
        if b is None:
            return a * a  # Assume a is a number
        elif isinstance(a, str) and isinstance(b, str):
            return a + b  # Concatenate if both are strings
        else:
            return a + b  # Assume a and b are numbers and add them

obj = Example()
print(obj.operate(4))          # Output: 16 (square of 4)
print(obj.operate(4, 5))       # Output: 9 (sum of 4 and 5)
print(obj.operate("Hello, ", "World!"))  # Output: Hello, World!

16
9
Hello, World!

See the following for more information: https://www.geeksforgeeks.org/method-overriding-in-python/

### Class Activity

In [ ]:
# Base Class
class Animal:
    def __init__(self, name, species, age):
        # Initialize the name, species, and age as private attributes
        self.__name = name
        self.__species = species
        self.__age = age

    def get_info(self):
        # Return a string with the animal's name, species, and age
        return f"Animal name is {self.__name}, species is {self.__species}, age is {self.__age}"

    def make_sound(self):
        return "Some generic animal sound"

# Derived Class: Mammal
class Mammal(Animal):
    def __init__(self, name, species, age, fur_color):
        # Initialize the mammal with its specific private attributes
        super().__init__(name, species, age)
        self.__fur_color = fur_color

    def make_sound(self):
        return "Generic Mammal Sound"

# Derived Class: Bird
class Bird(Animal):
    def __init__(self, name, species, age, wing_span):
        # Initialize the bird with its private specific attributes
        super().__init__(name, species, age)
        self.__wing_span = wing_span

    def make_sound(self):
        return "Tweet Tweet"

# Specific Animal: Lion
class Lion(Mammal):
    def __init__(self, name, age, fur_color):
        # Initialize the lion with its private specific attributes
        super().__init__(name, "Lion", age, fur_color)

    def make_sound(self):
        return "Roar"

# Specific Animal: Parrot
class Parrot(Bird):
    def __init__(self, name, age, wing_span):
        # Initialize the parrot with its specific attributes
        super().__init__(name, "Parrot", age, wing_span)

    def make_sound(self):
        return "Squawk"

In [ ]:
lion = Lion(name="Leo", age=5, fur_color="Golden")
parrot = Parrot(name="Polly", age=2, wing_span=0.25)

print(lion.get_info())
print(parrot.get_info())

animals = [lion, parrot]

for animal in animals:
    print(animal.make_sound())

Animal name is Leo, species is Lion, age is 5
Animal name is Polly, species is Parrot, age is 2
Roar
Squawk

## Custom Sort Functions

### sorted()

In [ ]:
numbers = [4, 2, 9, 1, 5]

sorted(numbers)

print("Original list:", numbers)

Original list: [4, 2, 9, 1, 5]

In [ ]:
sorted_numbers = sorted(numbers) # Returns a new list that is sorted

print("Original list:", numbers)
print("Sorted list", sorted_numbers)

Original list: [4, 2, 9, 1, 5]
Sorted list [1, 2, 4, 5, 9]

### sort()

In [ ]:
numbers = [4, 2, 9, 1, 5]

print("List before sort:", numbers)

numbers.sort() # In place

print("List after sort:", numbers)

List before sort: [4, 2, 9, 1, 5]
List after sort: [1, 2, 4, 5, 9]

In [ ]:
print(numbers.sort())

None

### key / reverse

In [ ]:
words = ["apple", "banana", "cherry", "date", "fig", "bananas"]

In [ ]:
sorted(words, reverse=True)

['fig', 'date', 'cherry', 'bananas', 'banana', 'apple']

In [ ]:
# sort based on length
sorted_words = sorted(words, key=lambda x: len(x))
# sorted_words = sorted(words, key=len)
print(sorted_words)

['fig', 'date', 'apple', 'banana', 'cherry', 'bananas']

In [ ]:
# sort based on length in reverse order
sorted_words = sorted(words, key=len, reverse=True)
print(sorted_words)

['bananas', 'banana', 'cherry', 'apple', 'date', 'fig']

In [ ]:
# sort based on the second letter
sorted_words2 = sorted(words, key=lambda x: (x[1], x[0]))
print(sorted_words2)

['banana', 'bananas', 'date', 'cherry', 'fig', 'apple']

#### Exercise

What are the outputs to the following sorts:

In [ ]:
points = [['a', 1, 2], ['c', 0, 4], ['b', 6, 3], ['d', 1, 3]]

sorted_points1 = sorted(points)
sorted_points2 = sorted(points, key=lambda x: (x[1]))
sorted_points3 = sorted(points, key=lambda x: (x[2], x[1]), reverse=True)

print(''.join([x[0] for x in sorted_points1]), end=' ')
print(''.join([x[0] for x in sorted_points2]), end=' ')
print(''.join([x[0] for x in sorted_points3]))

# abcd cadb cbda (Correct ans)
# abcd badc cdab
# abcd cadb adbc
# acbd cadb cbda

abcd cadb cbda

#### Exercise

Consider the following class:

In [ ]:
class Employee:

    def __init__(self, name, dept, age):
        self.name = name
        self.dept = dept
        self.age = age

    def __repr__(self):
        return f"({self.name}, {self.age})"

Create the following list of employees and sort the list based on employees names:
- Name: John, Department: IT, Age: 28
- Name: Sam, Department: Banking, Age: 20
- Name: John, Department: Finance, Age: 25

In case of a tie, order based on age.

In [ ]:
# Write your code here

# create objects
employee1 = Employee("John", "IT", 28)
employee2 = Employee("Sam", "Banking", 20)
employee3 = Employee("John", "Finance", 25)

# create list of employees
employees = [employee1, employee2, employee3]

# sorted the list
sorted_list = sorted(employees, key=lambda x: (x.name, x.age))

print(sorted_list)

[(John, 25), (John, 28), (Sam, 20)]

## Exception Handling

### Common Errors

In [ ]:
# SyntaxError - Missing closing parenthesis
print("Hello World"

SyntaxError: incomplete input (501430583.py, line 2)

In [ ]:
# TypeError - Trying to add a string and an integer
result = "5" + 3

TypeError: can only concatenate str (not "int") to str

In [ ]:
# ValueError - Converting a non-numeric string to an integer
number_str = "abc"
result = int(number_str)

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
# FileNotFoundError - Trying to open a non-existent file
file_path = "non_existent_file.txt"
with open(file_path, "r") as file:
    content = file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'non_existent_file.txt'

### try / except

In [ ]:
a = int(input("Enter 1 number"))
b = int(input("Enter 2 number"))
while b == 0:
    b = int(input("Enter 2 number"))

print(a / b)

Enter 1 number5
Enter 2 number0
Enter 2 number0
Enter 2 number2
2.5

In [ ]:
a = 5
b = 0

print(a / b)

ZeroDivisionError: division by zero

In [ ]:
a = 5
b = 0

# print(a / b)

try:
    print(a / b)

except:
    print("Cannot divide by zero!")

print("Completed!")

Cannot divide by zero!
Completed!

In [ ]:
x = 2

try:
#     y += 3

    x += "abc"

    x += 2
    print(x)

except Exception as e:

    print("Oops! something went wrong")
    print(type(e))
    print(e)

Oops! something went wrong
<class 'TypeError'>
unsupported operand type(s) for +=: 'int' and 'str'

### Raise an error

In [ ]:
# Using raise
def divide(a, b):
    if b == 0:
        raise Exception("Cannot divide by zero")
    return a / b

In [ ]:
divide(10, 2)

5.0

In [ ]:
divide(10, 0)

Exception: Cannot divide by zero

### Multiple Excepts and One Else

In [ ]:
# Catching Specific Exceptions in Python
try:
    # Case 1
#     even_numbers = [2, 4, 6, 8]
#     print(even_numbers[5])

    # Case 2
    x = 5 / 0

except IndexError:
    print("Index Out of Bound.")

except ZeroDivisionError:
    print("Denominator cannot be 0.")

Denominator cannot be 0.

An else block can be used after all the except blocks. The code within the else block will be executed only if no exceptions were raised in the try block. You can only have one else block.

In [ ]:
try:
    # Code that may raise an exception
#     result = 10 / 0
#     result = int('a')
#     result = 2 + 'b'
    result = 10 / 5

except ZeroDivisionError:
    print("You can't divide by zero!")

except ValueError:
    print("A ValueError occurred!")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

else:
    print("No exceptions occurred, the result is:", result)

No exceptions occurred, the result is: 2.0

### try / except / else / finally

In [ ]:
# Use else after except

try:
    num = int(input("Enter an even number: "))
    assert num % 2 == 0

except:
    print("\nNot an even number!")

else: # Only happens when there's no error -> It is not used 99.9% of the time
    reciprocal = 1/num
    print()
    print(reciprocal)

finally:
    print("\nRun Completed!")

Enter an even number: 5

Not an even number!

Run Completed!

### Custom Exception

In [ ]:
# Create Custom Exception
class CustomError(Exception):

    def __init__(self, message):
        self.message = message

In [ ]:
try:
    raise CustomError("This is a custom error!")

except Exception as e:
    print(type(e))
    print(e.message)

<class '__main__.CustomError'>
This is a custom error!

## File Handling

### Read file - 1

In [ ]:
! wget https://gist.githubusercontent.com/cjhveal/3753018/raw/287f964268afbd6dad7b8e6bd7860e4538c1a80a/gistfile1.txt

--2024-10-20 20:12:37--  https://gist.githubusercontent.com/cjhveal/3753018/raw/287f964268afbd6dad7b8e6bd7860e4538c1a80a/gistfile1.txt
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10477 (10K) [text/plain]
Saving to: gistfile1.txt

gistfile1.txt       100%[===================>]  10.23K  --.-KB/s    in 0.001s

2024-10-20 20:12:37 (11.8 MB/s) - gistfile1.txt saved [10477/10477]

In [ ]:
file = open("gistfile1.txt", "r")

In [ ]:
? file.seek

In [ ]:
? file.tell

In [ ]:
content = file.read()

In [ ]:
print(type(content))
print()
print(content)

In [ ]:
file.close()

In [ ]:
content = file.read()

ValueError: I/O operation on closed file.

### Read file - 2

In [ ]:
with open("test1.txt", "r") as file:
    content = file.read()
    print(content)

hey, how are you?
I am good, what about you?
I am also good.

### readline()

In [ ]:
with open("test1.txt", "r") as file:

    cur_line = file.readline()
    print(cur_line)

    cur_line = file.readline()
    print(cur_line)

hey, how are you?

I am good, what about you?

In [ ]:
with open('test1.txt', 'r') as file:
    while True:
        cur_line = file.readline()
        if cur_line:
            # Some operations here
            print(cur_line)
        else:
            break

hey, how are you?

I am good, what about you?

I am also good.

### readlines()

In [ ]:
with open('test1.txt', 'r') as file:
    lines = file.readlines()
    print(lines)

['hey, how are you?\n', 'I am good, what about you?\n', 'I am also good.']

In [ ]:
for line in lines:
    print(line)

hey, how are you?

I am good, what about you?

I am also good.

### Explore the file

In [ ]:
with open('test1.txt', 'r') as file:
    ? file.seek
    file.seek(5)
    print(file.read())

    print()

    position = file.tell()
    print(position)

FileNotFoundError: [Errno 2] No such file or directory: 'test1.txt'

### Write

In [ ]:
# How to write a file
file = open("test2.txt", "w")
file.write("Hello John!\nHow are you?")
file.close()

In [ ]:
# Create a new file OR erase and overwrite
with open('test2.txt', 'w') as file:

    # write contents to the test2.txt file
    file.write('Programming is Fun.\n')
    file.write('Python for beginners\n')

In [ ]:
with open('test2.txt', 'x') as file:
    file.write("This is the end of the document")

FileExistsError: [Errno 17] File exists: 'test2.txt'

In [ ]:
with open('test2.txt', 'a') as file:
    file.write("This is the end of the document")

### writelines()

In [ ]:
with open("test3.txt", "w") as file:
    L = ["This is Python\n", "It's an amazing programming language"]
    file.writelines(L)

### Class Activity

1. Create a new text file named 'my_file.txt' and add the lines:
["I love Python.", "Python is my favorite."] (in two separate lines)

In [ ]:
lines = ["I love Python.", "Python is my favorite."]

In [ ]:
# Write your code here
with open("my_file.txt", "w") as file:
    for line in lines:
        file.write(line + "\n")

In [ ]:
# Test the text so far
with open('my_file.txt', 'r') as file:
    print(file.read())

I love Python.
Python is my favorite.

2. The append a new line: "Yes! Python is great!"

In [ ]:
# Write your code here
with open("my_file.txt", "a") as file:
    file.write("Yes! Python is great!")

In [ ]:
# Test the text so far
with open('my_file.txt', 'r') as file:
    print(file.read())

I love Python.
Python is my favorite.
Yes! Python is great!

3. Iterate through lines and at each iteration find the location of "Python"
(Hint: use str.index(...))

In [ ]:
# Write your code here
with open("my_file.txt", "r") as file:
    lines = file.readlines()

idx = []
for line in lines:
    idx_loc = line.index("Python")
    idx.append(idx_loc)

print(idx)

[7, 0, 5]

In [ ]:
import os


os.path.exists("gistfil21.txt")

False

#### Question: What if a file to read is huge??

Please check out the concept of generators and yield in Python.

## JSON Module

In [ ]:
import json

### Serialize to JSON string

In [ ]:
# Define a Python dictionary
person = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "hasChildren": False,
    "titles": ["engineer", "programmer"]
}

In [ ]:
person

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'hasChildren': False,
 'titles': ['engineer', 'programmer']}

In [ ]:
person_json = json.dumps(person)

In [ ]:
person_json

'{"name": "John", "age": 30, "city": "New York", "hasChildren": false, "titles": ["engineer", "programmer"]}'

In [ ]:
print(type(person_json))
print(person_json)

<class 'str'>
{"name": "John", "age": 30, "city": "New York", "hasChildren": false, "titles": ["engineer", "programmer"]}

In [ ]:
person_json = json.dumps(person, indent=4, separators=("; ", "= "), sort_keys=True)

print(person_json)

{
    "age"= 30;
    "city"= "New York";
    "hasChildren"= false;
    "name"= "John";
    "titles"= [
        "engineer";
        "programmer"
    ]
}

### Serialize to a JSON file

In [ ]:
# Define a Python dictionary
person = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "hasChildren": False,
    "titles": ["engineer", "programmer"]
}

In [ ]:
with open("person1.json", "w") as file:
    json.dump(person, file)

### Deserialize JSON File

In [ ]:
with open("person1.json", "r") as file:
    loaded_person = json.load(file)

In [ ]:
print(type(loaded_person))

<class 'dict'>

In [ ]:
print(loaded_person)

{'name': 'John', 'age': 30, 'city': 'New York', 'hasChildren': False, 'titles': ['engineer', 'programmer']}

In [ ]:
loaded_person['age']

30

### Deserialized JSON

In [ ]:
person_json = """
    {
        "age": 30,
        "city": "New York",
        "hasChildren": false,
        "name": "John",
        "hobbies":{
          "coffee": "espresso",
          "food": "pizza"
        },
        "education": [{"University": "MIT", "Phd": "Harvard"}]
        ,
        "titles": [
            "engineer",
            "programmer"
        ]
    }
"""

In [ ]:
person = json.loads(person_json)

In [ ]:
person['education'][0]['University']

'MIT'

In [ ]:
print(type(person))

<class 'dict'>

In [ ]:
print(person)

{'age': 30, 'city': 'New York', 'hasChildren': False, 'name': 'John', 'titles': ['engineer', 'programmer']}

In [ ]:
person['hasChildren']

False