<a href="https://colab.research.google.com/github/anshajk/ik-classes/blob/main/notebooks/Python_Week_3_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals - Week 3

## OOP Concepts - Part I

### How to Define a Class

In [ ]:
# Create a new class

class Student:

    # Define a constructor
    def __init__(self, name):
        self.name = name # Attribute
        print("New student added:", name)
        self.grades = [] # Attribute

    # Define an instance method
    def add_grade(self, course, grade):
        self.grades.append((course, grade)) # {}
        print(f"Grade {grade} added for the course {course}")

In [ ]:
# create an object from the class
student1 = Student("John")

New student added: John

In [ ]:
student1

In [ ]:
student1.grades

[]

In [ ]:
print(type(student1))

<class '__main__.Student'>

In [ ]:
student1.name

'John'

In [ ]:
student1.add_grade("Algebra", 87)

Grade 87 added for the course Algebra

In [ ]:
student1.grades

[('Algebra', 87)]

In [ ]:
student1.add_grade("Physics", 65)
student1.grades

Grade 65 added for the course Physics

[('Algebra', 87), ('Physics', 65)]

In [ ]:
# create a second object
student2 = Student("Mary")

New student added: Mary

In [ ]:
student2.name

'Mary'

In [ ]:
student2.grades

[]

In [ ]:
student1.grades

[('Algebra', 87), ('Physics', 65)]

In [ ]:
student2.add_grade("Sciences", 59)
student2.add_grade("English", 91)
student2.grades

Grade 59 added for the course Sciences
Grade 91 added for the course English

[('Sciences', 59), ('English', 91)]

In [ ]:
student2.name = 'Mary Jane'

In [ ]:
student2.name

'Mary Jane'

### Instance vs Class Methods and Attributes

In [ ]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1 #
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, grade):
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

In [ ]:
student1 = Student("John")

New student added: John

In [ ]:
Student.num_of_students

2

In [ ]:
Student.class_count()

1

In [ ]:
student2 = Student("Mary")

New student added: Mary

In [ ]:
Student.class_count()

2

In [ ]:
student1.class_count()

2

In [ ]:
student2.class_count()

2

### Static Methods

In [ ]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [ ]:
student = Student("John")

New student added: John

In [ ]:
student.add_grade("Algebra", 87)
student.grades

Grade A added for the course Algebra

[('Algebra', 'A')]

In [ ]:
student.add_grade("Physics", 65)
student.grades

Grade C added for the course Physics

[('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
id(student)

139273828974864

In [ ]:
print(student)

<__main__.Student object at 0x7eab371a4110>

### Magic Methods

In [ ]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

    def __repr__(self):
        return f"This object is: {self.name}: {self.grades}"

    def __add__(self, other):
        return f"Student {self.name} & Student {other.name}"

In [ ]:
student1 = Student("John")

New student added: John

In [ ]:
student1.add_grade("Algebra", 87)
student1.grades

Grade A added for the course Algebra

[('Algebra', 'A')]

In [ ]:
student1.add_grade("Physics", 65)
student1.grades

Grade C added for the course Physics

[('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
print(student1)

This object is: John: [('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
print(repr(student1))

Grades of student John: [('Algebra', 'A'), ('Physics', 'C')]

In [ ]:
student2 = Student("Mary")

New student added: Mary

In [ ]:
print(student1 + student2)

Student John & Student Mary

In [ ]:
Student.hello()

Hi

In [ ]:
student = Student()

In [ ]:
student_instance.hello()

NameError: name 'student_instance' is not defined

### Class Activity (Leetcode Problem)

In [ ]:
class MyHashMap:

#     count = 0

    # constructor
    def __init__(self):
        self.data = []

    # put
    def put(self, key, value):

        for item in self.data:
            if item[0] == key:
                item[1] = value
                return
        pair = [key, value]
        self.data.append(pair)
#         MyHashMap.count += 1

    # get
    def get(self, key):

        for item in self.data:
            if item[0] == key:
                return item[1]
        return -1

    # remove
    def remove(self, key):

        for item in self.data:
            if item[0] == key:
                self.data.remove(item)
                return
        return None

In [ ]:
myHashMap = MyHashMap()

print(myHashMap.data)

[]

In [ ]:
myHashMap.put(1, 10)
print(myHashMap.data)

[[1, 10]]

In [ ]:
myHashMap.put(2, 20)
print(myHashMap.data)

[[1, 10], [2, 20]]

In [ ]:
myHashMap.put(2, 30)

In [ ]:
myHashMap.data

[[1, 10], [2, 30]]

In [ ]:
print(myHashMap.get(1))
print(myHashMap.get(2))
print(myHashMap.get(3))

10
30
-1

In [ ]:
myHashMap.put(2, 1)
print(myHashMap.data)

[[1, 1], [2, 1]]

In [ ]:
print(myHashMap.get(2))

1

In [ ]:
myHashMap.remove(2)
print(myHashMap.data)

[[1, 10]]

In [ ]:
print(myHashMap.get(2))

-1

## OOP Concepts - Part II

### Inheritance

In [ ]:
class Student:

    num_of_students = 0 # Class attribute

    # Define a constructor
    def __init__(self, name):
        self.name = name # Instance attribute
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = [] # Instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [ ]:
class NewGrad(Student):

    def __init__(self, name, school):
        super().__init__(name) # This is the only place in code, where I am referring to the parent, explicitly
        self.school = school

    def isPassed(self):
        for grade in self.grades:
            if grade[1] >= 'C':
                print(f"{self.name} from {self.school} has failed the course {grade[0]} with grade {grade[1]}.")
                return False
        print(f"{self.name} from {self.school} has passed all tests.")
        return True

In [ ]:
new_graduate1 = NewGrad("John", "UCLA")

new_graduate1.add_grade("Linear Algebra", 78)
new_graduate1.add_grade("Optimal Control", 65)

new_graduate1.isPassed()

New student added: John
Grade B added for the course Linear Algebra
Grade C added for the course Optimal Control
John from UCLA has failed the course Optimal Control with grade C.

False

In [ ]:
new_graduate1.class_count()

1

In [ ]:
new_graduate2 = NewGrad("Mary", "Harvard")

new_graduate2.add_grade("Statistics", 92)
new_graduate2.add_grade("Computer Vision", 83)

new_graduate2.isPassed()

New student added: Mary
Grade A added for the course Statistics
Grade B added for the course Computer Vision
Mary from Harvard has passed all tests.

True

### Encapsulation

In [ ]:
class Student:

    _num_of_students = 0 # Protected class attribute

    # Define a constructor
    def __init__(self, name):
        self._name = name # Protected instance attribute
        print("New student added:", name)
        Student._num_of_students += 1
        self.__grades = [] # Private instance attribute

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.__grade_mapper(num_grade)
        self.__grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def _class_count(cls):
        return cls._num_of_students

    @staticmethod
    def __grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

In [ ]:
student1 = Student("John")

New student added: John

In [ ]:
student1._name

'John'

In [ ]:
student1._num_of_students

1

In [ ]:
student1._class_count()

1

In [ ]:
student1.__grades

AttributeError: 'Student' object has no attribute '__grades'

In [ ]:
student1.__grade_mapper(92)

AttributeError: 'Student' object has no attribute '__grade_mapper'

### Polymorphism

In [ ]:
class Student:

    num_of_students = 0

    # Define a constructor
    def __init__(self, name):
        self.name = name
        print("New student added:", name)
        Student.num_of_students += 1
        self.grades = []

    # Instance method
    def add_grade(self, course, num_grade):
        grade = Student.grade_mapper(num_grade)
        self.grades.append((course, grade))
        print(f"Grade {grade} added for the course {course}")

    @classmethod
    def class_count(cls):
        return cls.num_of_students

    @staticmethod
    def grade_mapper(score):
        if 85 <= score <= 100:
            return 'A'
        elif 70 <= score < 85:
            return 'B'
        elif 55 <= score < 70:
            return 'C'
        elif 40 <= score < 55:
            return 'D'
        else:
            return 'F'

    def isPassed(self):
        print("All students are great and they all pass if they learn")

In [ ]:
class NewGrad(Student):

    def __init__(self, name, school):
        super().__init__(name)
        self.school = school

    def isPassed(self):
        for grade in self.grades:
            if grade[1] >= 'C':
                print(f"{self.name} from {self.school} has failed the course {grade[0]} with grade {grade[1]}.")
                return False
        print(f"{self.name} from {self.school} has passed all tests.")
        return True

In [ ]:
regular_student = Student("John")

regular_student.add_grade("Linear Algebra", 78)
regular_student.add_grade("Optimal Control", 65)

regular_student.isPassed()

New student added: John
Grade B added for the course Linear Algebra
Grade C added for the course Optimal Control
All students are great and they all pass if they learn

In [ ]:
new_student = NewGrad("John", 'UCLA')

new_student.add_grade("Linear Algebra", 78)
new_student.add_grade("Optimal Control", 80)

new_student.isPassed()

New student added: John
Grade B added for the course Linear Algebra
Grade B added for the course Optimal Control
John from UCLA has passed all tests.

True

#### Question: Method overloading in Python

In Python, method overloading as it is known in languages like Java or C++ (where multiple methods can have the same name but different parameter lists) doesn't exist in the same way. Python does not support method overloading natively. Instead, Python allows you to define a method with the same name only once in a class. If you define the same method multiple times, the last definition will override the previous ones.

#### Using Default Arguments

In [ ]:
def demo_function(a, b, c):
  return a + b + c

In [ ]:
demo_function(1)

TypeError: demo_function() missing 2 required positional arguments: 'b' and 'c'

In [ ]:
demo_function(1,2)

TypeError: demo_function() missing 1 required positional argument: 'c'

In [ ]:
demo_function(1,2,3)

6

In [ ]:
demo_function(a = 3, b = 2, c=1)

6

In [ ]:
def demo_function(a, b=0, c=0):
  return a + b + c

In [ ]:
demo_function(1)

1

In [ ]:
demo_function(e=5)

TypeError: demo_function() got an unexpected keyword argument 'e'

In [ ]:
demo_function(1,2)

3

In [ ]:
demo_function(1,2,3)

6

In [ ]:
def add(*args):
  sum = 0
  for value in args:
    sum += value
  return sum

In [ ]:
add(1)

1

In [ ]:
add(1,2)

3

In [ ]:
add(1,2,3)

6

In [ ]:
employee_1 = {'name': 'John', 'age': 28}

In [ ]:
def update_employee_salary(employee_name, old_salary, increment_value):
  new_salary = old_salary + increment_value
  print(f"{employee_name}'s new salary is {new_salary}")

In [ ]:
for key, value in employee_1.items():
  print(f"{key}: {value}")

name: John
age: 28

In [ ]:
def print_employee_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

In [ ]:
print_employee_details(first_name='John', last_name='Doe', age=28)

first_name: John
last_name: Doe
age: 28

In [ ]:
print_employee_details(name='Alice', profession='data scientist', city='New York')

name: Alice
profession: data scientist
city: New York

In [ ]:
class Example:
    def greet(self, name="World"):
        print(f"Hello, {name}!")

obj = Example()
obj.greet()           # Output: Hello, World!
obj.greet("Alice")    # Output: Hello, Alice!

Hello, World!
Hello, Alice!

#### Using Variable-Length Arguments ('*args')

In [ ]:
def add_numbers(a, b):
  return a + b

In [ ]:
add_numbers(10,20)

30

In [ ]:
def add_numbers(a, b, c=0):
  return a + b + c

In [ ]:
add_numbers(10, 20)

30

In [ ]:
add_numbers(10, 20, 30)

60

In [ ]:
def add_numbers_smartly(*args):
  result = 0
  for num in args:
    result += num # result = result + num
  return result

In [ ]:
add_numbers_smartly(1, 2, 3)

6

In [ ]:
add_numbers_smartly(10, 20, 30, 40)

100

In [ ]:
# **kwargs example

def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name="John", age=25, city="New York")

name: John
age: 25
city: New York

In [ ]:
print_info(today='2nd Feb', thisclass='Fundaments 3', whatwearelearning='OOP')

today: 2nd Feb
thisclass: Fundaments 3
whatwearelearning: OOP

In [ ]:
def print_employee_details(**kwargs):
  pass

In [ ]:
class Example:
    def add(self, *args):
        return sum(args)

obj = Example()
print(obj.add(2, 3))          # Output: 5
print(obj.add(2, 3, 4, 5))    # Output: 14

5
14

#### Using Type Checking in Methods

In [ ]:
class Example:
    def operate(self, a, b=None):
        if b is None:
            return a * a  # Assume a is a number
        elif isinstance(a, str) and isinstance(b, str):
            return a + b  # Concatenate if both are strings
        else:
            return a + b  # Assume a and b are numbers and add them

obj = Example()
print(obj.operate(4))          # Output: 16 (square of 4)
print(obj.operate(4, 5))       # Output: 9 (sum of 4 and 5)
print(obj.operate("Hello, ", "World!"))  # Output: Hello, World!

16
9
Hello, World!

See the following for more information: https://www.geeksforgeeks.org/method-overriding-in-python/

## Custom Sort Functions

### sorted()

In [ ]:
numbers = [4, 2, 9, 1, 5]

sorted_list = sorted(numbers)

print("Original list:", numbers)
print("Sorted list:", sorted_list)

Original list: [4, 2, 9, 1, 5]
Sorted list: [1, 2, 4, 5, 9]

In [ ]:
numbers = [4, 2, 9, 1, 5]

sorted(numbers)

[1, 2, 4, 5, 9]

In [ ]:
numbers

[4, 2, 9, 1, 5]

In [ ]:
sorted(numbers, reverse=True)

[9, 5, 4, 2, 1]

In [ ]:
numbers

[4, 2, 9, 1, 5]

In [ ]:
numbers.sort()

In [ ]:
numbers

[1, 2, 4, 5, 9]

In [ ]:
sorted_numbers = sorted(numbers)

print("Original list:", numbers)
print("Sorted list", sorted_numbers)

Original list: [4, 2, 9, 1, 5]
Sorted list [1, 2, 4, 5, 9]

### sort()

In [ ]:
numbers = [4, 2, 9, 1, 5]

print("List before sort:", numbers)

numbers.sort()

print("List after sort:", numbers)

List before sort: [4, 2, 9, 1, 5]
List after sort: [1, 2, 4, 5, 9]

In [ ]:
print(numbers.sort())

None

### key / reverse

In [ ]:
words = ["apple", "banana", "cherry", "date", "fig", "bananas"]

In [ ]:
sorted(words)

['apple', 'banana', 'bananas', 'cherry', 'date', 'fig']

In [ ]:
sorted(words, key=len, reverse=True)

['bananas', 'banana', 'cherry', 'apple', 'date', 'fig']

In [ ]:
# sort based on length
sorted_words = sorted(words, key=lambda x: len(x))
# sorted_words = sorted(words, key=len)
print(sorted_words)

['fig', 'date', 'apple', 'banana', 'cherry', 'bananas']

In [ ]:
# sort based on length in reverse order
sorted_words = sorted(words, key=len, reverse=True)
print(sorted_words)

['bananas', 'banana', 'cherry', 'apple', 'date', 'fig']

In [ ]:
# sort based on the second letter
sorted_words2 = sorted(words, key=lambda x: (x[1], x[0]))
print(sorted_words2)

['banana', 'bananas', 'date', 'cherry', 'fig', 'apple']

#### Exercise

What are the outputs to the following sorts:

In [ ]:
points = [['a', 1, 2], ['c', 0, 4], ['b', 6, 3], ['d', 1, 3]]

sorted_points1 = sorted(points)
sorted_points2 = sorted(points, key=lambda x: (x[1]))
sorted_points3 = sorted(points, key=lambda x: (x[2], x[1]), reverse=True)

print(''.join([x[0] for x in sorted_points1]), end=' ')
print(''.join([x[0] for x in sorted_points2]), end=' ')
print(''.join([x[0] for x in sorted_points3]))

# abcd cadb cbda (Correct ans)
# abcd badc cdab
# abcd cadb adbc
# acbd cadb cbda

abcd cadb cbda

#### Exercise

Consider the following class:

In [ ]:
class Employee:

    def __init__(self, name, dept, age):
        self.name = name
        self.dept = dept
        self.age = age

    def __repr__(self):
        return f"({self.name}, {self.age})"

Create the following list of employees and sort the list based on employees names:
- Name: John, Department: IT, Age: 28
- Name: Sam, Department: Banking, Age: 20
- Name: John, Department: Finance, Age: 25

In case of a tie, order based on age.

In [ ]:
# Write your code here

# create objects
employee1 = Employee("John", "IT", 28)
employee2 = Employee("Sam", "Banking", 20)
employee3 = Employee("John", "Finance", 25)

# create list of employees
employees = [employee1, employee2, employee3]

# sorted the list
sorted_list = sorted(employees, key=lambda x: (x.name, x.age))

print(sorted_list)

[(John, 25), (John, 28), (Sam, 20)]

## Exception Handling

### Common Errors

In [ ]:
# SyntaxError - Missing closing parenthesis
print("Hello World"

SyntaxError: incomplete input (<ipython-input-94-868da01a8ef6>, line 2)

In [ ]:
# TypeError - Trying to add a string and an integer
result = "5" + 3

TypeError: can only concatenate str (not "int") to str

In [ ]:
# ValueError - Converting a non-numeric string to an integer
number_str = "abc"
result = int(number_str)

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
# FileNotFoundError - Trying to open a non-existent file
file_path = "non_existent_file.txt"
with open(file_path, "r") as file:
    content = file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'non_existent_file.txt'

### try / except

In [ ]:
a = input("Enter the element a:")
b = input("Enter the element b:")

Enter the element a:10
Enter the element b:0

In [ ]:
type(a)

str

In [ ]:
a = int(a)
b = int(b)

In [ ]:
a / b

ZeroDivisionError: division by zero

In [ ]:
try:
    print(a / b)`

except:
    print("An error occured")

print("Completed!")

An error occured
Completed!

In [ ]:
a = input("Enter the element a:")
b = input("Enter the element b:")

a = int(a)
b = int(b)


try:
  print(a/b)
except ZeroDivisionError:
  try:
    while b == 0:
      b = int(input("Enter the element b, which isnt zero:"))

    print("Thank you for entering the right b value")
    print(a/b)
  except ValueError:
    while True:
      try:
        b = input("Enter the element b, which is an integer:")
        b = int(b)
        print(a/b)
        break
      except:
        pass
except Exception as e:

    print("Oops! something went wrong")
    print(type(e))
    print(e)
finally:
  print("\nThis line is printed anyways")

Enter the element a:10
Enter the element b:0
Enter the element b, which isnt zero:0
Enter the element b, which isnt zero:0
Enter the element b, which isnt zero:0
Enter the element b, which isnt zero:0
Enter the element b, which isnt zero:5
Thank you for entering the right b value
2.0

This line is printed anyways

### Raise an error

In [ ]:
# Using raise
def divide(a, b):
    if b == 0:
        raise Exception("Cannot divide by zero")
    return a / b

In [ ]:
divide(10, 2)

5.0

In [ ]:
divide(10, 0)

Exception: Cannot divide by zero

### Multiple Excepts and One Else

In [ ]:
# Catching Specific Exceptions in Python
try:
    # Case 1
#     even_numbers = [2, 4, 6, 8]
#     print(even_numbers[5])

    # Case 2
    x = 5 / 0

except IndexError:
    print("Index Out of Bound.")

except ZeroDivisionError:
    print("Denominator cannot be 0.")

Denominator cannot be 0.

An else block can be used after all the except blocks. The code within the else block will be executed only if no exceptions were raised in the try block. You can only have one else block.

In [ ]:
try:
    # Code that may raise an exception
#     result = 10 / 0
#     result = int('a')
#     result = 2 + 'b'
    result = 10 / 5

except ZeroDivisionError:
    print("You can't divide by zero!")

except ValueError:
    print("A ValueError occurred!")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

else:
    print("No exceptions occurred, the result is:", result)

No exceptions occurred, the result is: 2.0

### try / except / else / finally

In [ ]:
# Use else after except

try:
    num = int(input("Enter an even number: "))
    assert num % 2 == 0

except:
    print("\nNot an even number!")

else:
    reciprocal = 1/num
    print()
    print(reciprocal)

finally:
    print("\nRun Completed!")

Enter an even number: 5

Not an even number!

Run Completed!

### Custom Exception

In [ ]:
# Create Custom Exception
class CustomError(Exception):

    def __init__(self, message):
        self.message = message

In [ ]:
try:
    raise CustomError("This is a custom error!")

except Exception as e:
    print(type(e))
    print(e.message)

<class '__main__.CustomError'>
This is a custom error!

## File Handling

### Read file - 1

In [ ]:
file = open("sample_data/README.md", "r")

In [ ]:
content = file.read()

In [ ]:
print(type(content))
print()
print(content)

<class 'str'>

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

In [ ]:
file.close()

In [ ]:
content = file.read()

ValueError: I/O operation on closed file.

### Read file - 2

In [ ]:
with open("sample_data/README.md", "r") as file:
    content = file.read()
    print(content)

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

### readline()

In [ ]:
with open("sample_data/README.md", "r") as file:

    cur_line = file.readline()
    print(cur_line)
    print('--------------')
    cur_line = file.readline()
    print(cur_line)
    print('--------------')
    cur_line = file.readline()
    print(cur_line)
    print('--------------')
    cur_line = file.readline()
    print(cur_line)

This directory includes a few sample datasets to get you started.

--------------


--------------
*   `california_housing_data*.csv` is California housing data from the 1990 US

--------------
    Census; more information is available at:

In [ ]:
with open('test1.txt', 'r') as file:
    while True:
        cur_line = file.readline()
        if cur_line:
            # Some operations here
            print(cur_line)
        else:
            break

hey, how are you?

I am good, what about you?

I am also good.

### readlines()

In [ ]:
with open('sample_data/README.md', 'r') as file:
    lines = file.readlines()
    print(lines)

['This directory includes a few sample datasets to get you started.\n', '\n', '*   `california_housing_data*.csv` is California housing data from the 1990 US\n', '    Census; more information is available at:\n', '    https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub\n', '\n', '*   `mnist_*.csv` is a small sample of the\n', '    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is\n', '    described at: http://yann.lecun.com/exdb/mnist/\n', '\n', '*   `anscombe.json` contains a copy of\n', "    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it\n", '    was originally described in\n', '\n', "    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American\n", '    Statistician. 27 (1): 17-21. JSTOR 2682899.\n', '\n', '    and our copy was prepared by the\n', '    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).\n']

In [ ]:
lines[0]

'This directory includes a few sample datasets to get you started.\n'

In [ ]:
lines[2]

'*   `california_housing_data*.csv` is California housing data from the 1990 US\n'

In [ ]:
lines[-1]

'    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).\n'

In [ ]:
lines[0]

'This directory includes a few sample datasets to get you started.\n'

In [ ]:
lines[2]

'*   `california_housing_data*.csv` is California housing data from the 1990 US\n'

In [ ]:
for line in lines:
    print(line)

hey, how are you?

I am good, what about you?

I am also good.

In [ ]:
import json

In [ ]:
? json.dumps

In [ ]:
help(json.load)

Help on function load in module json:

load(fp, *, cls=None, object_hook=None, parse_float=None, parse_int=None, parse_constant=None, object_pairs_hook=None, **kw)
    Deserialize ``fp`` (a ``.read()``-supporting file-like object containing
    a JSON document) to a Python object.

    ``object_hook`` is an optional function that will be called with the
    result of any object literal decode (a ``dict``). The return value of
    ``object_hook`` will be used instead of the ``dict``. This feature
    can be used to implement custom decoders (e.g. JSON-RPC class hinting).

    ``object_pairs_hook`` is an optional function that will be called with the
    result of any object literal decoded with an ordered list of pairs.  The
    return value of ``object_pairs_hook`` will be used instead of the ``dict``.
    This feature can be used to implement custom decoders.  If ``object_hook``
    is also defined, the ``object_pairs_hook`` takes priority.

    To use a custom ``JSONDecoder`` subclass, specify it with the ``cls``
    kwarg; otherwise ``JSONDecoder`` is used.

### Explore the file

In [ ]:
with open('sample_data/README.md', 'r') as file:
  ? file.tell

In [ ]:
with open('sample_data/README.md', 'r') as file:

    file.seek(5)
    print(file.read())

    print()

    position = file.tell()
    print(position)

directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).


962

### Write

In [ ]:
# How to write a file
file = open("test2.txt", "w")
file.write("Hello John!\nHow are you?")
file.close()

In [ ]:
# Create a new file OR erase and overwrite
with open('test3.txt', 'w') as file:

    # write contents to the test2.txt file
    file.write('Programming is Fun.\n')
    file.write('Python for beginners\n')

In [ ]:
with open('test2.txt', 'x') as file:
    file.write("This is the end of the document")

FileExistsError: [Errno 17] File exists: 'test2.txt'

In [ ]:
with open('test2.txt', 'a') as file:
    file.write("This is the end of the document")

### writelines()

In [ ]:
with open("test3.txt", "w") as file:
    L = ["This is Python\n", "It's an amazing programming language"]
    file.writelines(L)

### Class Activity

1. Create a new text file named 'my_file.txt' and add the lines:
["I love Python.", "Python is my favorite."] (in two separate lines)

In [ ]:
lines = ["I love Python.", "Python is my favorite."]

In [ ]:
# Write your code here
with open("my_file.txt", "w") as file:
    for line in lines:
        file.write(line + "\n")

In [ ]:
# Test the text so far
with open('my_file.txt', 'r') as file:
    print(file.read())

I love Python.
Python is my favorite.

2. The append a new line: "Yes! Python is great!"

In [ ]:
# Write your code here
with open("my_file.txt", "a") as file:
    file.write("Yes! Python is great!")

In [ ]:
# Test the text so far
with open('my_file.txt', 'r') as file:
    print(file.read())

I love Python.
Python is my favorite.
Yes! Python is great!

3. Iterate through lines and at each iteration find the location of "Python"
(Hint: use str.index(...))

In [ ]:
# Write your code here
with open("my_file.txt", "r") as file:
    lines = file.readlines()

idx = []
for line in lines:
    idx_loc = line.index("Python")
    idx.append(idx_loc)

print(idx)

[7, 0, 5]

#### Question: What if a file to read is huge??

Please check out the concept of generators and yield in Python.

## JSON Module

In [ ]:
import json

### Serialize to JSON string

In [ ]:
# Define a Python dictionary
person = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "hasChildren": False,
    "titles": ["engineer", "programmer"]
}

In [ ]:
type(person)

dict

In [ ]:
person_json = json.dumps(person)

In [ ]:
person_json

'{"name": "John", "age": 30, "city": "New York", "hasChildren": false, "titles": ["engineer", "programmer"]}'

In [ ]:
type(person_json)

str

In [ ]:
print(type(person_json))

<class 'str'>

In [ ]:
print(type(person_json))
print(person_json)

<class 'str'>
{"name": "John", "age": 30, "city": "New York", "hasChildren": false, "titles": ["engineer", "programmer"]}

In [ ]:
person_json = json.dumps(person, indent=4, separators=("; ", "= "), sort_keys=True)

print(person_json)

{
    "age"= 30;
    "city"= "New York";
    "hasChildren"= false;
    "name"= "John";
    "titles"= [
        "engineer";
        "programmer"
    ]
}

In [ ]:
? json.dumps

In [ ]:
help(json.dumps)

Help on function dumps in module json:

dumps(obj, *, skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, cls=None, indent=None, separators=None, default=None, sort_keys=False, **kw)
    Serialize ``obj`` to a JSON formatted ``str``.

    If ``skipkeys`` is true then ``dict`` keys that are not basic types
    (``str``, ``int``, ``float``, ``bool``, ``None``) will be skipped
    instead of raising a ``TypeError``.

    If ``ensure_ascii`` is false, then the return value can contain non-ASCII
    characters if they appear in strings contained in ``obj``. Otherwise, all
    such characters are escaped in JSON strings.

    If ``check_circular`` is false, then the circular reference check
    for container types will be skipped and a circular reference will
    result in an ``RecursionError`` (or worse).

    If ``allow_nan`` is false, then it will be a ``ValueError`` to
    serialize out of range ``float`` values (``nan``, ``inf``, ``-inf``) in
    strict compliance of the JSON specification, instead of using the
    JavaScript equivalents (``NaN``, ``Infinity``, ``-Infinity``).

    If ``indent`` is a non-negative integer, then JSON array elements and
    object members will be pretty-printed with that indent level. An indent
    level of 0 will only insert newlines. ``None`` is the most compact
    representation.

    If specified, ``separators`` should be an ``(item_separator, key_separator)``
    tuple.  The default is ``(', ', ': ')`` if *indent* is ``None`` and
    ``(',', ': ')`` otherwise.  To get the most compact JSON representation,
    you should specify ``(',', ':')`` to eliminate whitespace.

    ``default(obj)`` is a function that should return a serializable version
    of obj or raise TypeError. The default simply raises TypeError.

    If *sort_keys* is true (default: ``False``), then the output of
    dictionaries will be sorted by key.

    To use a custom ``JSONEncoder`` subclass (e.g. one that overrides the
    ``.default()`` method to serialize additional types), specify it with
    the ``cls`` kwarg; otherwise ``JSONEncoder`` is used.

### Serialize to a JSON file

In [ ]:
# Define a Python dictionary
person = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "hasChildren": False,
    "titles": ["engineer", "programmer"]
}

In [ ]:
with open("person1.json", "w") as file:
    json.dump(person, file)

### Deserialize JSON File

In [ ]:
with open("person1.json", "r") as file:
    loaded_person = json.load(file)

In [ ]:
type(loaded_person)

dict

In [ ]:
loaded_person

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'hasChildren': False,
 'titles': ['engineer', 'programmer']}

In [ ]:
loaded_person['titles']

['engineer', 'programmer']

In [ ]:
loaded_person['age']

30

In [ ]:
print(type(loaded_person))

<class 'dict'>

In [ ]:
print(loaded_person)

{'name': 'John', 'age': 30, 'city': 'New York', 'hasChildren': False, 'titles': ['engineer', 'programmer']}

In [ ]:
loaded_person['age']

30

In [ ]:
loaded_person['titles']

['engineer', 'programmer']

### Deserialized JSON

In [ ]:
person_data = """
    {
        "age": 30,
        "city": "New York",
        "hasChildren": false,
        "name": "John",
        "titles": [
            "engineer",
            "programmer"
        ]
    }
"""

In [ ]:
person_data[10:28]

'     "age": 30,\n  '

In [ ]:
person = json.loads(person_data)
type(person)

dict

In [ ]:
person

{'age': 30,
 'city': 'New York',
 'hasChildren': False,
 'name': 'John',
 'titles': ['engineer', 'programmer']}

In [ ]:
person['age']

30

In [ ]:
? json.loads

In [ ]:
print(type(person))

<class 'dict'>

In [ ]:
print(person)

{'age': 30, 'city': 'New York', 'hasChildren': False, 'name': 'John', 'titles': ['engineer', 'programmer']}

In [ ]:
person['hasChildren']

False